.image{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000;
  cursor: pointer;
}
.playButton {
  cursor: pointer;
  position: relative;
  height: 60px;
  width: 100px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.playButton:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.playButton:after {
  content: "";
  display: block;
  position: absolute;
  top: 16.5px;
  left: 40px;
  margin: 0 auto;
  border-style: solid;
  border-width: 12.5px 0 12.5px 20px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 1);
} 
.image:hover .playButton{
  background-color: #FF0000;
}
